Priyal Gupta
PRN: 25070123087
Experiment 4: Study of Sets in Python

In [ ]:
# Creation of Set
set1={"apple","banana","cherry"}
print(set1)

{'banana', 'cherry', 'apple'}

In [ ]:
# Indexing not allowed
set1=("apple","banana","cherry")
print(set1[])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-303580847.py, line 3)

In [ ]:
# Duplicates not allowed
set1={"apple","banana","cherry","apple"}
print(set1)

{'banana', 'cherry', 'apple'}

In [ ]:
# The values True and 1 are considered the same value in sets,and
set1={"apple","banana","cherry",True,1,2}
print(set1)

{True, 2, 'cherry', 'banana', 'apple'}

In [ ]:
# To check membership
set1={"apple","banana","cherry"}

print("banana" in set1)
print("Grapes" in set1)

True
False

In [ ]:
# Once a set is created,we cannot replace its items,
# but you can add new items.
set1={"apple","banana","cherry"}

set1.add("orange")
print(set1)

{'banana', 'cherry', 'apple', 'orange'}

In [ ]:
# Remove items
set1={"apple","banana","cherry"}
set1.remove("banana")
print(set1)

{'cherry', 'apple'}

In [1]:
# Set Operations
A={1,2,3,4}
B={3,4,5,6}

print("Union:",A|B)
print("Intersection:",A & B)
print("Difference1:",A-B)
print("Difference2:",B-A)
print("Symmetric Difference:",A^B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference1: {1, 2}
Difference2: {5, 6}
Symmetric Difference: {1, 2, 5, 6}

In [4]:
# frozen set
x =frozenset({"apple","banana","cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [8]:
# Real-time Problems on Sets
# Problem Statement 1: Unique Event Participants
list1=["Akash","Bhuvan","Chetan","Diya","Chetan","Bhuvan"]
Set_1= set(list1)
print(Set_1)

{'Diya', 'Bhuvan', 'Chetan', 'Akash'}

In [11]:
# Problem Statement 2: Three students choose elective subjects
Student1={"Chemistry","Maths","Physics","Science"}
Student2={"Hindi","Maths","English","Science"}
Student3={"Maths","Science","Biology","Science"}

common_subjects= Student1 & Student2 & Student3
print(common_subjects)

{'Maths', 'Science'}

In [12]:
# Problem Statement 3: One set contains students in the Cricket Club
cr={"Aarti","Balraj","Ketan"}
f={"Balraj","Shiv","Raya","Aarti"}

print("Both Clubs:", cr & f)
print("Only in 1 Club:", cr^f)

Both Clubs: {'Balraj', 'Aarti'}
Only in 1 Club: {'Raya', 'Ketan', 'Shiv'}

In [15]:
# Problem Statement 4: Absent Students
present_students={"riya","amit","alok"}
all_students={"janvi","krish","nayan","ankita","riya","amit","alok"}
Absent_Students= all_students-present_students
print("Absent Students:",Absent_Students)

Absent Students: {'ankita', 'krish', 'janvi', 'nayan'}

In [17]:
# Problem Statement 5: Updated Course Codes
courses={"ETC101","ETC102","ETC103"}
courses.discard("ETC102")
print("Updated Courses:", courses)

Updated Courses: {'ETC103', 'ETC101'}